/* CUSTOM PROPERTIES 
-------------------------------*/
:root {
  --Very-Dark: #05193a;
  --Dark-Grayish: #05355a;
  --Light: #05668a;
  --White: #ffffff;
  --color-dark: var(--Very-Dark);
  --color-primary: var(--Dark-Grayish);
  --color-light: var(--Light);
  --color-white: var(--White);
  --font-family: cursive;
}

/* Global Styles 
-------------------------------*/
html,
body {
  height: 100%;
}
body {
  margin: 50px;
  padding: 0;
  background-color: var(--Light);
}
h2,
p,
div {
  text-align: center;
  color: var(--color-white);
  font-family: var(--font-family);
  padding: 0 20px;
}
h2 {
  font-size: 28px;
  margin-bottom: 40px;
}
p {
  margin-bottom: 60px;
}
.highlight {
  color: var(--color-light);
}
.stats-numbers {
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "Lexend Deca", sans-serif;
}
.stats-labels {
  margin-bottom: 50px;
}
.card {
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  background-color: var(--color-dark);
  border-radius: 5px;
  font-size: 20px;
  max-width: 1000px;
  margin: 70px auto;
}
.card img {
  width: 100%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}
.stats-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  margin-bottom: 40px;
}
.stat-number,
.stat-label {
  font-family: "Lexend Deca", sans-serif;
}
